{% extends "base.html" %}

{% load static %}

{% block content %}

<body>
    <div class="container"><br><br><br><br>
        <div class="row">
            <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
                <div class="container">
                    <h1 class="display-4 fst-italic" style="text-align: center;"><b>GameZone</b></h1>
                </div>
                <div class="container" style="text-align: center;">
                    <img class="img-thumbnail" src="../static/bootstrap/img/logo .jpg" style="width: 25rem;">
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}