{% extends "base.html" %}

{% load static %}

{% block content %}

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

<body class="bg-light">

  <div class="container">

    <div class="py-5 text-center">
      <h2>Costos Directos de Mano de Obra</h2>
    </div>

    <div class="container col-lg-8">

      <form class="needs-validation">
        {% csrf_token %}
        <div class="row g-3">
          <div class="col-md-3">
            <label for="date" class="form-label">Salario Nominal</label>
            <input type="number" class="form-control" name="" required>
            <div class="invalid-feedback">
              Digite el monto del salario nominal
            </div>
          </div><br>

          <div class="col-md-4">
            <label class="form-label">Horas de trabajo</label>
            <input type="number" name="" class="form-control" required>
            <div class="invalid-feedback">
              Digite las horas de trabajo
            </div>
          </div><br>

          <div class="col-md-3">
            <label class="form-label">Dias de trabajo</label>
            <input type="number" class="form-control" name="" required>
            <div class="invalid-feedback">
              Digite los dias de trabajo
            </div>
          </div>

        </div><br>

        <div class="row g-3">

          <div class="col-md-3">
            <label class="form-label">Dias de Vacaciones</label>
            <input type="number" name="" class="form-control" required>
            <div class="invalid-feedback">
              Debe digitar el monto por seguro social
            </div>
          </div><br>

          <div class="col-md-4">
            <label class="form-label"> Recargo de vacaciones </label>
            <input type="number" class="form-control" name="" required>
            <div class="invalid-feedback">
              Escriba el monto por AFP
            </div>
          </div><br>

          <div class="col-md-3">
            <label class="form-label"> Dias de Aguinaldo </label>
            <input type="number" class="form-control" name="" required>
            <div class="invalid-feedback">
              Escriba los dias de aguinaldo
            </div>
          </div>
        </div><br>

        <div class="row g-3">
          <div class="col-md-3">
            <label class="form-label"> Porcentaje ISSS </label>
            <input type="number" class="form-control" name="" required>
            <div class="invalid-feedback">
              Digite el porcentaje de ISSS
            </div>
          </div><br>

          <div class="col-md-4">
            <label class="form-label"> Porcentaje de AFP </label>
            <input type="number" class="form-control" name="" required>
            <div class="invalid-feedback">
              Digite el porcentaje de AFP
            </div>
          </div><br>

          <div class="col-md-3">
            <label class="form-label"> Porcentaje de Eficiencia </label>
            <input type="number" class="form-control" name="" required>
            <div class="invalid-feedback">
              Digite el porcentaje de eficiencia
            </div>
          </div>
        </div><br>

        <div class="row g-3">
          <div class="col-md-11">
            <hr class="my-4">
          </div>
        </div>

        <div class="row g-3">
          <div class="col-md-4"></div>
          <div class="col-md-5">
            <button class="w-100 btn btn-primary btn-lg" type="submit">Agregar costos de mano obra</button><br><br><br>
          </div>
        </div>
      </form>
    </div>

    <div class="container">
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th colspan="2" style="text-align: center; background-color:mediumturquoise">Mano de Obra
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Septimo</td>
              <td>valor</td>
            </tr>
            <tr>
              <td>Vacaciones</td>
              <td>valor</td>
            </tr>
            <tr>
              <td>Aguinaldo</td>
              <td>valor</td>
            </tr>
            <tr>
              <td>ISSS</td>
              <td>valor</td>
            </tr>
            <tr>
              <td>AFP</td>
              <td>valor</td>
            </tr>
            <tr>
              <td>Salario real</td>
              <td>valor</td>
            </tr>
            <tr>
              <td>Factor de recargo</td>
              <td>valor</td>
            </tr>
          </tbody>
        </table><br><br>
      </div>
    </div>

  </div>


  <script src="../static/bootstrap/js/form-validation.js"></script>
</body>

{% endblock %}