# Archivos y directorios específicos de Django
*.log
*.pot
*.pyc
AppGameZone/__pycache__
AppGameZone/migrations
db.sqlite3
identifier.sqlite
.gitignore


# Ambiente virtual (por ejemplo, si usas virtualenv o venv)
venv/
.env/

# Dependencias de Python (puedes agregar más si usas otras herramientas)
/lib/
/include/
/bin/
/.local/

# Archivos de configuración sensibles
*.env
*.ini
*.conf

# Archivos generados por IDEs y editores de texto
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos temporales
*.swp
.DS_Store

#setting.py de la carpeta GameZone
GameZone/settings.py
GameZone/__pycache__
AppGameZone/__pycache__
```
